<body>
<h1>Detailed report for $m.getFQMethodName()</h1>
#foreach ($e in $reports)
<h2> $e.getKey() </h2>
<h3>Stats</h3>
<ul>
#foreach ($s in $e.getStats().entrySet())
<li/> $s.getKey(): <emph>$s.getValue()</emph>
#end
</ul>
<h3>Graph</h3>
<img width="100%" src="$e.getGraph()"/>
#end
<h3>DFA results</h3>
<pre>
$dfaresults
</pre>
</body>
